<main>
    <img id="sadFaceImg"
        src="https://www.nicepng.com/png/detail/54-543757_sad-face-png-transparent-image-signo-de-interrogacion.png"
        alt="sad face" />
    <h1>404</h1>
    <h2>Page not found</h2>
</main>